extends ../layout

block content
    h1 Add New Product
    form(action="/product/add",method="post")
        .form-group
            label(for="code") Course Name
            input#code(type="text", class="form-control", name="name")
        .form-group
            label(for="size") Course id
            input#size(type="text", class="form-control", name="id")
        .form-group
            label(for="price") Course Duration
            input#price(type="text", class="form-control", name="duration")
        .form-group
            label(for="stuff") Course Fee
            input#stuff(type="text", class="form-control", name="fee")
        input(type="submit", class="btn btn-info")
    